.title {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
}
.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
}
.functions {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.menu-item {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.home,
.home-icon {
  position: relative;
  overflow: hidden;
}
.home-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.home {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.browse,
.search-icon {
  position: relative;
  overflow: hidden;
}
.search-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.browse {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.radio-icon,
.static {
  position: relative;
  overflow: hidden;
}
.radio-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 24px;
}
.static {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.functionframe {
  align-self: stretch;
  gap: 4px;
  top: 0;
  z-index: 99;
  position: sticky;
}
.functionframe,
.menu-item-parent,
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-item-parent {
  align-self: stretch;
  font-size: var(--small-text-size);
}
.sidebar {
  width: 256px;
  background-color: var(--color-white);
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding: var(--padding-5xl) 7px 694px;
  gap: 24px;
}
.badge-box,
.text {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.text {
  line-height: 18px;
  display: inline-block;
  min-width: 102px;
}
.badge-base {
  border-radius: 16px;
  background-color: #f7faff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px var(--padding-5xs);
  white-space: nowrap;
}
.badge,
.text-and-badge {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  align-items: flex-start;
  mix-blend-mode: multiply;
  text-align: center;
  font-size: var(--text-xs-medium-size);
  color: #0070ff;
}
.text-and-badge {
  align-self: stretch;
  align-items: center;
  padding: 0 655px 0 0;
  gap: 8px;
}
.text-and-supporting-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card-header,
.content {
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
}
.content {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xl) 19px;
}
.card-header {
  background-color: var(--color-white);
  border-bottom: 1px solid #eaecf0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 32.5px 0 31px;
  text-align: left;
  font-size: var(--text-lg-medium-size);
  color: #101828;
  font-family: var(--text-xs-medium);
}
.frame-child {
  align-self: stretch;
  height: 814px;
  position: relative;
  background-color: var(--color-white);
  z-index: 1;
  margin-top: -7px;
}
.card-header-parent {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.card-header-parent,
.home-page,
.home-page-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.home-page-inner {
  flex: 1;
  flex-direction: column;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 256px);
}
.home-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 20px;
  color: var(--color-black);
  font-family: var(--text-xs-medium);
}
@media screen and (max-width: 975px) {
  .sidebar {
    display: none;
    padding-top: var(--padding-xl);
    padding-bottom: 451px;
    box-sizing: border-box;
  }
  .text-and-badge {
    flex-wrap: wrap;
    padding-right: 327px;
    box-sizing: border-box;
  }
  .home-page-inner {
    max-width: 100%;
  }
  .home-page {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .text-and-badge {
    padding-right: 163px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
}

.chart-container {
  width: 600px;
  height: 320px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-left: 42px; 
  transition: border 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
}
.chart-container:hover {
  border: 1px solid #000; /* Hiển thị viền khi di chuột */
}

#myChart {
  width: 100%;
  height: calc(100% - 60px);
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em; /* Đảm bảo cỡ chữ đồng đều */
}

.chart-title {
  margin-right: 10px; /* Khoảng cách giữa tiêu đề và chọn năm */
}

.chart-year-selector {
  display: flex;
  align-items: center;
}

.chart-year-selector button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 0.9em;
}

.chart-year-selector button:focus {
  outline: none;
}

.chart-year-selector span {
  margin: 0 10px;
  font-size: 0.9em;
}

.chart-date-selector {
  display: flex;
  align-items: center;
  margin-left: auto; /* Đẩy phần chọn ngày sang lề phải */
}

.chart-date-selector select {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 0.9em;
}

.input2 {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  margin-left: 42px;
  margin-top: 20px;
}

.search-icon2 {
  width: 20px;  
  height: 20px;
  margin-right: 10px;
}

.search2 {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #999;
}

.search2::placeholder {
  color: #999;
}

.Hotel-statistic-ranking {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  margin: 20px auto;
  font-family: 'Inter', sans-serif;
  margin-left: 700px;
  margin-top: -382px;
  transition: border 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
}
.Hotel-statistic-ranking:hover {
  border: 1px solid #000; /* Hiển thị viền khi di chuột */
}

.hotel-statistic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.hotel-statistic-title {
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
}

.hotel-statistic-year-selector {
  display: flex;
  align-items: center;
}

.hotel-statistic-year-selector button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.hotel-statistic-year-selector span {
  margin: 0 10px;
  font-weight: 500;
}

.hotel-statistic-date-selector {
  margin-left: auto;
}

.hotel-statistic-date-selector select {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.statistic-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.statistic-item:last-child {
  border-bottom: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.label {
  flex: 1;
  margin-left: 10px;
  font-weight: 500;
}

.value {
  font-weight: 600;
}

.info-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


/* General styles for all popups */
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Tăng kích thước popup */
  font-family: 'Inter', sans-serif; /* Đảm bảo font chữ giống với cả trang */
}

/* Popup content container */
.popup .HS-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Header of the popup */
.popup .popup-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Title of the popup header aligned to the left */
.popup .popup-header span:first-child {
  flex-grow: 1;
  text-align: left;
}

/* Close button in the popup header */
.popup .close {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #000; /* Màu đậm hơn */
}

/* Input styles within popups */
.popup input[type="date"] {
  width: 80%; /* Adjust width to fit within the popup */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.popup input[type="date"]:hover {
  border-color: black; /* Change border color on hover */
}

/* Display area for booking, customer, and room values */
#booking-value-display,
#customer-value-display,
#room-value-display {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 40%; /* Increase the display area width */
  height: 40px;
  max-width: 600px; /* Set a maximum width */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  text-align: center; /* Center align text */
}

#booking-value-display:hover,
#customer-value-display:hover,
#room-value-display:hover {
  border-color: black; /* Change border color on hover */
}

.popup-total-bill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 20%;
  width: 600px; /* Set the width of the popup */
  left: 50%; /* Center the popup horizontally */
  transform: translateX(-50%); /* Ensure it is centered properly */
  height: 400px;
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
}

.popup-total-bill .HS-popup-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popup-total-bill .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Black line under the header */
}


.total-bill-container {
  display: flex;
  align-items: center;
}

#total-bill-value {
  margin-left: 5px; /* Adjust the spacing between the label and the value */
}

.popup-header .close {
  cursor: pointer; /* Adds a pointer cursor on hover */
}

.popup-total-bill .popup-body {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%; /* Adjust as needed */
  flex-grow: 1; /* Allow the body to grow and take up available space */
}

.popup-total-bill .popup-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.input-style {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.popup-total-bill .popup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc; /* Black line above the footer */
}

.popup-footer {
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
  align-items: center;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc; /* Black line above the footer */
}

.total-amount-value {
  margin-left: 10px; /* Adds spacing between the label and value */
}

.ranking-service {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin-left: 1155px;
  margin-top: -250px;
  margin-right: 100px;
  transition: border 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
}
.ranking-service:hover {
  border: 1px solid #000; /* Hiển thị viền khi di chuột */
}

.ranking-service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.ranking-service-title {
  font-weight: bold;
}

.ranking-service-table {
  width: 100%;
  border-collapse: collapse;
}

.ranking-service-table td {
  padding: 5px 0;
}
.ranking-customer-table {
  width: 100%;
  border-collapse: collapse;
}

.ranking-customer-table td {
  padding: 5px 0;
}
.ranking-service1 {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin-left: 1155px;
  margin-top: -420px;
  margin-right: 100px;
  transition: border 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
}
.ranking-service1:hover {
  border: 1px solid #000; /* Hiển thị viền khi di chuột */
}

.hotel-statistic-ranking-container {
  display: flex;
  justify-content: space-between; /* Đảm bảo khoảng cách giữa các phần tử */
  align-items: flex-start; /* Căn chỉnh các phần tử con theo chiều dọc, bắt đầu từ mép trên cùng */
}

.hotel-statistic {
  flex: 1; /* Chiếm toàn bộ không gian còn lại */
  margin-right: 50px; /* Khoảng cách giữa các phần tử */
}

.payment-button {
  background-color: white;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 400px;
  margin-top: -38px;
  display: flex; /* Sử dụng flexbox để căn chỉnh */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.payment-button img {
  margin-right: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}

.payment-button:hover {
  background-color: #f0f0f0;
}

.submit {
  background-color: #ff0000; /* Đổi màu nền thành màu đỏ */
  color: white; /* Màu chữ */
  border: none; /* Bỏ viền */
  border-radius: 5px; /* Bo tròn góc */
  padding: 10px 20px; /* Khoảng cách bên trong */
  font-size: 16px; /* Kích thước chữ */
  cursor: pointer; /* Con trỏ chuột */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng */
  margin-bottom: 20px; /* Cách phần dưới của popup 20px */
}

.submit:hover {
  background-color: #e60000; /* Màu nền khi hover */
}

.submit:active {
  background-color: #cc0000; /* Màu nền khi nhấn */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Đổ bóng khi nhấn */
  transform: translateY(2px); /* Hiệu ứng nhấn */
}

.buzz {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.buzz:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng khi hover */
  transform: translateY(-4px); /* Tạo hiệu ứng nổi lên một chút */
}

.rankingicon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.payment-option {
  cursor: pointer;
  border: none;
  background: none;
  padding: 5px;
  position: relative; /* Needed for absolute positioning of tooltip */
}

.payment-option img {
  width: 50px; /* Adjust size as needed */
  height: auto;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
}

.payment-option:hover .tooltip {
  visibility: visible;
}

.selected {
  background-color: #f0f0f0;
}
#HS-date-selector {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}
#HS-date-selector:hover {
  border: 1px solid #000; /* Hiển thị viền khi di chuột */
}

/* Container for the occupancy chart */
.occupancy-chart-container {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 420px; /* Fixed width */
  height: 510px; /* Fixed height */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  margin-left: 700px;
  margin-top: -515px;
}

/* Header styling for the occupancy chart */
.occupancy-chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

/* Title styling for the occupancy chart */
.occupancy-chart-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

/* Icon next to the chart title */
.occupancy-rankingicon {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

/* Year selector styling */
.occupancy-chart-year-selector button {
  background: none;
  border: none;
  cursor: pointer;
}

.occupancy-chart-year-selector img {
  width: 16px;
  height: 16px;
}

.occupancy-chart-year-selector span {
  margin: 0 5px;
  font-size: 14px;
  color: #555;
}

/* Date selector styling */
.occupancy-chart-date-selector select {
  padding: 3px 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

/* Canvas styling */
#occupancyChart {
  width: 50%; /* Set width to fit within the container */
  height: 50%; /* Adjust height to fit within the container, accounting for header */
}

.occupancy-chart-container:hover {
  border: 1px solid #000; /* Hiển thị viền khi di chuột */
}

.LOS-chart-year-selector button {
  background: none;
  border: none;
  cursor: pointer;
}

.LOS-chart-year-selector img {
  width: 16px;
  height: 16px;
}

.LOS-chart-year-selector span {
  margin: 0 5px;
  font-size: 14px;
  color: #555;
}

/* Date selector styling */
.LOS-chart-date-selector select {
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}



