<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
    />
  </head>
  <body onload="getCurrentDate(); updateDate(); changeColor(); goToBrowseHomePage(); goToStaticHomePage(); goToHomePage()">
    <div class="home-page">
      <div class="sidebar">
        <div class="title-wrapper">
          <div class="title">Administration web</div>
        </div>
        <div class="menu-item-parent">
          <div class="menu-item">
            <div class="functions">Functions</div>
          </div>
          <div class="functionframe">
            <div class="menu-item1">
              <img class="home-icon" alt="" src="img/homeicon.gif"/>
              <div class="home">Home</div>
            </div>
            <div class="menu-item2">
              <img class="home-icon" alt="" src="img/searchicon.gif"/>
              <div class="browse">Browse</div>
            </div>
            <div class="menu-item3">
              <img class="home-icon" alt="" src="img/statisticicon.gif"/>
              <div class="static" >Statistic</div>
            </div>
          </div>
        </div>
      </div>
      <main class="home-page-inner">
        <div class="card-header-parent">
          <header class="card-header">
            <div class="content">
              <div class="text-and-supporting-text">
                <div class="text-and-badge">
                  <div class="badge-box">Welcome back, Admin</div>
                  <div class="badge">
                    <div class="badge-base">
                      <div class="text">Date: <span id="current-date"></span></div>
                        </body>
                      </html>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>  
        </div>
        <section class="content-section">
          <h1>Hotel Management Website User Manual</h1>
          <p>Welcome to the Hotel Management Website! This manual will guide you through the features and functionalities of our platform, helping you manage your hotel operations efficiently.</p>
          <details>
            <summary><h2>Table of Contents</h2></summary>
            <ol>
              <li><a href="#getting-started">Getting Started</a></li>
              <li><a href="#room-management">Room Management</a></li>
              <li><a href="#booking-management">Booking Management</a></li>
              <li><a href="#customer-management">Customer Management</a></li>
              <li><a href="#service-management">Service Management</a></li>
              <li><a href="#employee-management">Employee Management</a></li>
              <li><a href="#statistic">Statistic</a></li>
            </ol>
          </details>
          <hr>
          <section id="getting-started">
            <h2>Getting Started</h2>
            <h3>Accessing the Website</h3><img class="icon" src="img/accessicon.gif">
            <ul>
              <li>Open your web browser.</li>
              <li>Enter the URL: <a href="http://localhost:3000/">http://localhost:3000/</a></li>
              <li>Press Enter to load the website.</li>
            </ul>
          </section>
          <h2 id="room-management">Room Management</h2>
          <h3>Adding a New Room</h3> <img class="icon" src="img/addicon.gif">
          <ol>
              <li>Go to <a href="http://localhost:3000/browse/">Browse</a> in the sidebar.</li>
              <li>Click on <a href="http://localhost:3000/browse/room/">Rooms</a></li>
              <li>Click on "Add".</li>
              <li>Add:</li>
                <ul>
                  <li>If adding new room: Fill in the room details: New room ID, Room Type, Select Status, Room Type Name, Price per night, Max adult, Max Child.</li>
                  <li>If adding new service for existed room: Fill in ther room service details: New Room ID, Booking ID, Select Service ID, Total in, Date of service, Staff ID.</li>
                </ul>
              <li>Click "Submit" to add to your database.</li>
          </ol>
          <h3>Updating Room Details</h3><img class="icon" src="img/updateicon.gif">
          <ol>
              <li>Go to "Update".</li>
              <li>Updating:</li>
                <ul>
                  <li>If updating room: Fill in New Room ID, Room Type, Select status.</li>
                  <li>If updating room type: Fill in Room type, Room type name, Price per night, Max adult, Max child.</li>
                  <li>If updating serive: Fill in Receipt ID, Select service ID, Total in, Date of service, Staff ID.</li>
                </ul>
              <li>Click "Submit" to apply changes.</li>
          </ol>
          <h3>Deleting a Room</h3><img class="icon" src="img/deleteicon.gif">
          <ol>
              <li>Go to "Delete”.</li>
              <li>Type Room ID that you want to delete.</li>
              <li>We can also delete a service id of a room by entering the room id of that room and entering the service id we want.</li>
              <li>Click "Delete" and confirm the action.</li>
          </ol>
          <h3>Viewing all Room</h3><img class="icon" src="img/viewicon.gif">
          <ul>
              <li>Scroll right to see all Room Table.</li>
              <li>Click and type info that need to search on the blank under table header.</li>
              <li>Click on 3doc icon to see all info of a Room: Booking ID, Room ID, Discount, Total for Booking, ...</li>
              <li>Click on right arrow to see the next page and left arrow to see the previous page.</li>
          </ul>

          <h3>Page function</h3><img class="icon" src="img/settingicon.gif">
          <ul>
              <li>Click on the search bar and type what you want to find it in the table.</li>
              <li>We can choose date for table by click on date seletor.</li>
              <li>Click on the page number to go to that page.</li>
              <li>Click on "Add new file" button to update new data for this table.</li>
              <li>Click on "Export" button to export file.</li>
          </ul>
          
          <h2 id="booking-management">Booking Management</h2>
          <h3>Adding a New Booking</h3><img class="icon" src="img/addicon.gif">
          <ol>
              <li>Go to <a href="http://localhost:3000/browse/">Browse</a> in the sidebar.</li>
              <li>Click on <a href="http://localhost:3000/browse/booking/">Booking</a>.</li>
              <li>Click on "Add"</li>
              <li>Adding:</li>
                <ul>
                  <li>If adding boking for customer: Fill in Customer ID, Booking Date, Booking Type, Total adult, Total Child.</li>
                  <li>If adding room for booking: Fill in New Booking ID, Room ID, Num of adult, Num of chilt, Check-in, Check-out.</li>
                </ul>
              <li>Click "Submit."</li>
          </ol>
          <h3>Updating Booking Details</h3><img class="icon" src="img/updateicon.gif">
          <ol>
              <li>Go to "Update".</li>
              <li>Type Booking ID that you want to edit.</li>
              <li>Updating:</li>
                <ul>
                  <li>If updating customer: Fill in New Booking ID, Customer ID, Booking Date, Booking Type, Total adult, Total child.</li>
                  <li>If updating room: Fill in New Booking ID, Room ID, Num of adult, Num of child, Check-in, Check-out</li>
                </ul>
              <li>Click "Submit" to apply changes.</li>
          </ol>
          <h3>Deleting a Booking</h3><img class="icon" src="img/deleteicon.gif">
          <ol>
              <li>Go to "Delete”.</li>
              <li>Type Booking ID that you want to delete.</li>
              <li>We can also delete a room id of a booking by entering the booking id of that boking and entering the room id we want.</li>
              <li>Click "Delete" and confirm the action.</li>
          </ol>
          <h3>Viewing all Booking</h3><img class="icon" src="img/viewicon.gif">
          <ul>
            <li>Scroll right to see all Room Table.</li>
            <li>Click and type info that need to search on the blank under table header.</li>
            <li>Click on 3doc icon to see all info of a Room: Booking ID, Room ID, Discount, Total for Booking, ...</li>
            <li>Click on right arrow to see the next page and left arrow to see the previous page.</li>
          </ul>
          <h3>Page function</h3><img class="icon" src="img/settingicon.gif">
          <ul>
              <li>Click on the search bar and type what you want to find it in the table.</li>
              <li>We can choose date for table by click on date seletor.</li>
              <li>Click on the page number to go to that page.</li>
              <li>Click on "Add new file" button to update new data for this table.</li>
              <li>Click on "Export" button to export file.</li>
          </ul>
          
          <h2 id="customer-management">Customer Management</h2>
          <h3>Adding a New Customer</h3><img class="icon" src="img/addicon.gif">
          <ol>
              <li>Go to <a href="http://localhost:3000/browse/">Browse</a> in the sidebar.</li>
              <li>Click on <a href="http://localhost:3000/browse/customer/">Customers</a>.</li>
              <li>Click on "Add"</li>
              <li>Fill in the room details: Customer ID, Personal ID, First Name, Last Name, Birth Date, Gender, Email, Phone, Address, Name Rank.</li>
              <li>Click "Submit."</li>
          </ol>
          <h3>Updating Customer Information</h3><img class="icon" src="img/updateicon.gif">
          <ol>
              <li>Go to "Update".</li>
              <li>Type Customer ID that you want to edit.</li>
              <li>Update the necessary details.</li>
              <li>Click "Submit" to apply changes.</li>
          </ol>
          <h3>Deleting a Customer</h3><img class="icon" src="img/deleteicon.gif">
          <ol>
              <li>Go to "Delete”.</li>
              <li>Type Customer ID that you want to delete.</li>
              <li>Click "Delete" and confirm the action.</li>
          </ol>
          <h3>Viewing all Booking</h3><img class="icon" src="img/viewicon.gif">
          <ul>
            <li>Scroll right to see all Room Table.</li>
            <li>Click and type info that need to search on the blank under table header.</li>
            <li>Click on 3doc icon to see all info of a Room: Booking ID, Room ID, Discount, Total for Booking, ...</li>
            <li>Click on right arrow to see the next page and left arrow to see the previous page.</li>
          </ul>
          <h3>Page function</h3><img class="icon" src="img/settingicon.gif">
          <ul>
              <li>Click on the search bar and type what you want to find it in the table.</li>
              <li>We can choose date for table by click on date seletor.</li>
              <li>Click on the page number to go to that page.</li>
              <li>Click on "Add new file" button to update new data for this table.</li>
              <li>Click on "Export" button to export file.</li>
          </ul>
          
          <h2 id="service-management">Service Management</h2>
          <h3>Adding a New Service</h3><img class="icon" src="img/addicon.gif">
          <ol>
              <li>Go to <a href="http://localhost:3000/browse/">Browse</a> in the sidebar.</li>
              <li>Click on <a href="http://localhost:3000/browse/service/">Services</a>.</li>
              <li>Click on "Add"</li>
              <li>Adding:</li>
              <ul>
                <li>If adding Service: Fill in Service ID, Service Name, note, Department ID.</li>
                <li>If adding Department: Fill in Department ID, Department Name, Manager, Description.</li>
              </ul>
              <li>Click "Submit."</li>
          </ol>
          <h3>Updating Service Information</h3><img class="icon" src="img/updateicon.gif">
          <ol>
              <li>Go to "Update".</li>
              <li>Updating:</li>
              <ul>
                <li>If updating Service: Fill in Service ID, Service Name, note, Department ID.</li>
                <li>If updating Department: Fill in Department ID, Department Name, Manager, Description.</li>
              </ul>
              <li>Click "Submit" to apply changes.</li>
          </ol>
          <h3>Deleting a Service</h3><img class="icon" src="img/deleteicon.gif">
          <ol>
              <li>Go to "Delete”.</li>
              <li>Type Service ID that you want to delete.</li>
              <li>Click "Delete" and confirm the action.</li>
          </ol>
          <h3>Viewing all Booking</h3><img class="icon" src="img/viewicon.gif">
          <ul>
            <li>Scroll right to see all Room Table.</li>
            <li>Click and type info that need to search on the blank under table header.</li>
            <li>Click on 3doc icon to see all info of a Room: Booking ID, Room ID, Discount, Total for Booking, ...</li>
            <li>Click on right arrow to see the next page and left arrow to see the previous page.</li>
          </ul>
          <h3>Page function</h3><img class="icon" src="img/settingicon.gif">
          <ul>
              <li>Click on the search bar and type what you want to find it in the table.</li>
              <li>We can choose date for table by click on date seletor.</li>
              <li>Click on the page number to go to that page.</li>
              <li>Click on "Add new file" button to update new data for this table.</li>
              <li>Click on "Export" button to export file.</li>
          </ul>
          
          <h2 id="employee-management">Employee Management</h2>
          <h3>Adding a New Employee</h3><img class="icon" src="img/addicon.gif">
          <ol>
              <li>Go to <a href="http://localhost:3000/browse/">Browse</a> in the sidebar.</li>
              <li>Click on <a href="http://localhost:3000/browse/employee/">Employees</a>.</li>
              <li>Click on "Add"</li>
              <li>Fill in the room details: Staff ID, Department Name, Personal ID, First Name, Last Name, Birth Date, Gender, Email, Phone, Address, Current Sal, Start Date, End Date.</li>
              <li>Click "Submit."</li>
          </ol>
          <h3>Updating Employee Information</h3><img class="icon" src="img/updateicon.gif">
          <ol>
              <li>Go to "Update".</li>
              <li>Type Staff ID that you want to edit.</li>
              <li>Update the necessary details.</li>
              <li>Click "Submit" to apply changes.</li>
          </ol>
          <h3>Deleting a Employee</h3><img class="icon" src="img/deleteicon.gif">
          <ol>
              <li>Go to "Delete”.</li>
              <li>Type Staff ID that you want to delete.</li>
              <li>Click "Delete" and confirm the action.</li>
          </ol>
          <h3>Viewing all Booking</h3><img class="icon" src="img/viewicon.gif">
          <ul>
            <li>Scroll right to see all Room Table.</li>
            <li>Click and type info that need to search on the blank under table header.</li>
            <li>Click on 3doc icon to see all info of a Room: Booking ID, Room ID, Discount, Total for Booking, ...</li>
            <li>Click on right arrow to see the next page and left arrow to see the previous page.</li>
          </ul>
          <h3>Page function</h3><img class="icon" src="img/settingicon.gif">
          <ul>
              <li>Click on the search bar and type what you want to find it in the table.</li>
              <li>We can choose date for table by click on date seletor.</li>
              <li>Click on the page number to go to that page.</li>
              <li>Click on "Add new file" button to update new data for this table.</li>
              <li>Click on "Export" button to export file.</li>
          </ul>
          
          <h2 id="statistic">Statistic</h2>
          <ul>
              <li>Go to <a href="http://localhost:3000/static/">Statistic</a> in the sidebar.</li>
          </ul>
          <h3>Payment</h3><img class="icon" src="img/paymenticon.gif">
          <ul>
              <li>Click on “Check bill for Booking ID” and type Booking ID that need to check. There will be a popup to show all services which Booking ID have used and total amount.</li>
              <li>Click on button “Add Payment” to add payment for Booking ID.</li>
          </ul>
          <h3>Hotel Statistic: Bookings, Customers</h3><img class="icon" src="img/staticicon.gif">
          <ul>
              <li>Show the number of Bookings/Customersat the current date.</li>
              <li>Click on the info icon after each row and there will be a popup which can choose the date to see the number of Bookings/Customers/Rooms.</li>
          </ul>
          <h3>Revenue chart</h3><img class="icon" src="img/revenueicon.gif">
          <ul>
              <li>Show the hotel revenue at the current date.</li>
              <li>Choose the time to see hotel revenue that need to check.</li>
          </ul>
          <h3>Occupancy rate</h3><img class="icon" src="img/occupancyicon.gif">
          <ul>
              <li>Show the hotel Occupancy rate per day.</li>
              <li>Choose the day we want to see the Occupancy rate of that day.</li>
          </ul>
          <h3>Average length of stay</h3><img class="icon" src="img/lengthofstayicon.gif">
          <ul>
              <li>Show the average length of stay per month of a year.</li>
              <li>CHoose the year we want to see the average length of stay of that year.</li>
          </ul>
          <h3>Ranking Service</h3><img class="icon" src="img/best-value.gif">
          <ul>
              <li>Show top 5 Services.</li>
              <li>Click on the info icon to see a full list.</li>
          </ul>
          <h3>Ranking Customer</h3><img class="icon" src="img/ratingsicon.gif">
          <ul>
              <li>Show top 5 Customers.</li>
              <li>Click on the info icon to see a full list.</li>
          </ul>
        </section>
  <script src="main.js"></script>
</html>
