body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-xs-medium: Inter;

  /* font sizes */
  --text-xs-medium-size: 12px;
  --text-lg-medium-size: 18px;
  --small-text-size: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-base: 16px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-5xs: 8px;
}
